
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a1f;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
  position: relative;
}
